.div1 {
    background: #000080;
    border: 1px solid red;
}

.div2 {
    background: #800080;
    border: 1px solid red;
    height: 100px;
    margin-top: 10px
}

.left {
    float: left;
    width: 20%;
    height: 200px;
    background: #DDD
}

.right {
    float: right;
    width: 30%;
    height: 80px;
    background: #DDD
}


/*清除浮动代码*/


/* 第一種實現清除浮動的辦法 */
/* 
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
} */

/* 第二种清除浮动的办法 */
/* 
.clearfloat {
    clear: both
} */

.box{
    border: 1px solid red;
    height: 200px;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    height: 50px;
    width: 50px;
    background-color: aqua;
}

/* 实现水平垂直居中的办法 */
/* 知道居中元素的尺寸的情况下可以使用margin输入具体的值 */
/* .center{
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%; 
    margin-left: -25px;
    margin-top: -25px;
} */
/* 不知道居中元素的具体尺寸的情况使用transform的translate */
/* .center{
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
